.title-locations{
    background-color:  #014e35;
    width: 100%;
    color: white;
    margin-top: 20px;
}


.title-locations-content{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.title-locations-content p{
    font-size: 2em;
    font-weight: bold;
    color: white;
}

.title-locations-content img{

    margin-right: 10px;
  
}

#menu-logo{
    width: 15vw;
}

#under{
    width: 40vw;
    margin-top: 50px;
}