.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App {
  text-align: center;


}

* {
  box-sizing: border-box;
  margin: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}
.App{
  margin: 0px auto;
}